<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Precision Fitness</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center color='primary'>Login</h3>
  <form (ngSubmit)='entrar()' method="post">
    <ion-list>
      <ion-item>
        <ion-label floating>Usuário</ion-label>
        <ion-input required [(ngModel)]="login" type='email' name='login'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input required [(ngModel)]="senha" type='password' name='senha'></ion-input>
      </ion-item>
      <ion-item>
        <button type='submit' ion-button block>Entrar</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
