<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Precision Fitness</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center color='primary'>Treinos</h3>
  <ion-list>
    <button (click)="treino(id1)" *ngIf="treino1 != null" ion-item>{{treino1}}<ion-icon item-right name="md-arrow-round-forward"></ion-icon></button>
    <button (click)="treino(id2)" *ngIf="treino2 != null" ion-item>{{treino2}}<ion-icon item-right name="md-arrow-round-forward"></ion-icon></button>
    <button (click)="treino(id3)" *ngIf="treino3 != null" ion-item>{{treino3}}<ion-icon item-right name="md-arrow-round-forward"></ion-icon></button>
    <button (click)="treino(id4)" *ngIf="treino4 != null" ion-item>{{treino4}}<ion-icon item-right name="md-arrow-round-forward"></ion-icon></button>
    <button (click)="treino(id5)" *ngIf="treino5 != null" ion-item>{{treino5}}<ion-icon item-right name="md-arrow-round-forward"></ion-icon></button>
  </ion-list>
</ion-content>
