<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Precision Fitness</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center color='primary'>Suas modalidades</h3>
  <ion-list inset>
    <button ion-item *ngIf="mod1 != null" (click)="modalidade(1)">
      {{mod1}} <ion-icon item-right name="ios-arrow-forward-outline"></ion-icon>
    </button>
    <button ion-item *ngIf="mod2 != null" (click)="modalidade(2)">
      {{mod2}} <ion-icon item-right name="ios-arrow-forward-outline"></ion-icon>
    </button>
    <button ion-item *ngIf="mod3 != null" (click)="modalidade(3)">
      {{mod3}} <ion-icon item-right name="ios-arrow-forward-outline"></ion-icon>
    </button>
    <button ion-item *ngIf="mod4 != null" (click)="modalidade(4)">
      {{mod4}} <ion-icon item-right name="ios-arrow-forward-outline"></ion-icon>
    </button>
    <button ion-item *ngIf="mod5 != null" (click)="modalidade(5)">
      {{mod5}} <ion-icon item-right name="ios-arrow-forward-outline"></ion-icon>
    </button>
    <button ion-item text-justify *ngIf="mod5 == null && mod4 == null && mod3 == null && mod2 == null && mod1 == null">
      Você não está inscrito em nenhuma modalidade.<br />
      Entre em contato com sua academia para se inscrever.
    </button>
  </ion-list>
</ion-content>
