<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Treino Hoje</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center color='primary'>{{nomecurto}} - {{id}}</h3>
  <p ion-text text-center color='dark'>Treinos</p>
  <ion-list>
    <ion-item-group>
      <!-- <ion-item-divider color="light"><h2 text-center>Treino atual</h2></ion-item-divider> -->
      <ion-item>
        <h2 text-center color='primary'>{{modalidade}}</h2>
        <p text-center>{{nome_exercicio}}</p>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
