<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Precision Fitness</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h3 text-center color='primary'>Contas</h3>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item *ngFor="let conta of data">
            <ion-avatar item-left>
              <ion-icon name="logo-usd"></ion-icon>
            </ion-avatar>
            <h2>R${{conta.VALOR}}</h2>
            <p>{{conta.TITULO}}</p>
            <button ion-button clear item-right (click)="mais(conta)">Ver</button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
