<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Precision Fitness</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center color='primary'>Exercicios</h3>
  <ion-list>
    <ion-item *ngIf="exercicio1 != null">
      <h2>{{exercicio1}}</h2>
      <h3>Peso: <b>{{peso1}}</b></h3>
      <p>Repetições: <b>{{repeticao1}}</b></p>
      <p>Tempo: <b>{{tempo1}}</b></p>
      <p>Sessões: <b>{{sessao1}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio2 != null">
      <h2>{{exercicio2}}</h2>
      <h3>Peso: <b>{{peso2}}</b></h3>
      <p>Repetições: <b>{{repeticao2}}</b></p>
      <p>Tempo: <b>{{tempo2}}</b></p>
      <p>Sessões: <b>{{sessao2}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio3 != null">
      <h2>{{exercicio3}}</h2>
      <h3>Peso: <b>{{peso3}}</b></h3>
      <p>Repetições: <b>{{repeticao3}}</b></p>
      <p>Tempo: <b>{{tempo3}}</b></p>
      <p>Sessões: <b>{{sessao3}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio4 != null">
      <h2>{{exercicio4}}</h2>
      <h3>Peso: <b>{{peso4}}</b></h3>
      <p>Repetições: <b>{{repeticao4}}</b></p>
      <p>Tempo: <b>{{tempo4}}</b></p>
      <p>Sessões: <b>{{sessao4}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio5 != null">
      <h2>{{exercicio5}}</h2>
      <h3>Peso: <b>{{peso5}}</b></h3>
      <p>Repetições: <b>{{repeticao5}}</b></p>
      <p>Tempo: <b>{{tempo5}}</b></p>
      <p>Sessões: <b>{{sessao5}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio6 != null">
      <h2>{{exercicio6}}</h2>
      <h3>Peso: <b>{{peso6}}</b></h3>
      <p>Repetições: <b>{{repeticao6}}</b></p>
      <p>Tempo: <b>{{tempo6}}</b></p>
      <p>Sessões: <b>{{sessao6}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio7 != null">
      <h2>{{exercicio7}}</h2>
      <h3>Peso: <b>{{peso7}}</b></h3>
      <p>Repetições: <b>{{repeticao7}}</b></p>
      <p>Tempo: <b>{{tempo7}}</b></p>
      <p>Sessões: <b>{{sessao7}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio8 != null">
      <h2>{{exercicio8}}</h2>
      <h3>Peso: <b>{{peso8}}</b></h3>
      <p>Repetições: <b>{{repeticao8}}</b></p>
      <p>Tempo: <b>{{tempo8}}</b></p>
      <p>Sessões: <b>{{sessao8}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio9 != null">
      <h2>{{exercicio9}}</h2>
      <h3>Peso: <b>{{peso9}}</b></h3>
      <p>Repetições: <b>{{repeticao9}}</b></p>
      <p>Tempo: <b>{{tempo9}}</b></p>
      <p>Sessões: <b>{{sessao9}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio10 != null">
      <h2>{{exercicio10}}</h2>
      <h3>Peso: <b>{{peso10}}</b></h3>
      <p>Repetições: <b>{{repeticao10}}</b></p>
      <p>Tempo: <b>{{tempo10}}</b></p>
      <p>Sessões: <b>{{sessao10}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio11 != null">
      <h2>{{exercicio11}}</h2>
      <h3>Peso: <b>{{peso11}}</b></h3>
      <p>Repetições: <b>{{repeticao11}}</b></p>
      <p>Tempo: <b>{{tempo11}}</b></p>
      <p>Sessões: <b>{{sessao11}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio12 != null">
      <h2>{{exercicio12}}</h2>
      <h3>Peso: <b>{{peso12}}</b></h3>
      <p>Repetições: <b>{{repeticao12}}</b></p>
      <p>Tempo: <b>{{tempo12}}</b></p>
      <p>Sessões: <b>{{sessao12}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio13 != null">
      <h2>{{exercicio13}}</h2>
      <h3>Peso: <b>{{peso13}}</b></h3>
      <p>Repetições: <b>{{repeticao13}}</b></p>
      <p>Tempo: <b>{{tempo13}}</b></p>
      <p>Sessões: <b>{{sessao13}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio14 != null">
      <h2>{{exercicio14}}</h2>
      <h3>Peso: <b>{{peso14}}</b></h3>
      <p>Repetições: <b>{{repeticao14}}</b></p>
      <p>Tempo: <b>{{tempo14}}</b></p>
      <p>Sessões: <b>{{sessao14}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio15 != null">
      <h2>{{exercicio15}}</h2>
      <h3>Peso: <b>{{peso15}}</b></h3>
      <p>Repetições: <b>{{repeticao15}}</b></p>
      <p>Tempo: <b>{{tempo15}}</b></p>
      <p>Sessões: <b>{{sessao15}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio16 != null">
      <h2>{{exercicio16}}</h2>
      <h3>Peso: <b>{{peso16}}</b></h3>
      <p>Repetições: <b>{{repeticao16}}</b></p>
      <p>Tempo: <b>{{tempo16}}</b></p>
      <p>Sessões: <b>{{sessao16}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio17 != null">
      <h2>{{exercicio17}}</h2>
      <h3>Peso: <b>{{peso17}}</b></h3>
      <p>Repetições: <b>{{repeticao17}}</b></p>
      <p>Tempo: <b>{{tempo17}}</b></p>
      <p>Sessões: <b>{{sessao17}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio18 != null">
      <h2>{{exercicio18}}</h2>
      <h3>Peso: <b>{{peso18}}</b></h3>
      <p>Repetições: <b>{{repeticao18}}</b></p>
      <p>Tempo: <b>{{tempo18}}</b></p>
      <p>Sessões: <b>{{sessao18}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio19 != null">
      <h2>{{exercicio19}}</h2>
      <h3>Peso: <b>{{peso19}}</b></h3>
      <p>Repetições: <b>{{repeticao19}}</b></p>
      <p>Tempo: <b>{{tempo19}}</b></p>
      <p>Sessões: <b>{{sessao19}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio20 != null">
      <h2>{{exercicio20}}</h2>
      <h3>Peso: <b>{{peso20}}</b></h3>
      <p>Repetições: <b>{{repeticao20}}</b></p>
      <p>Tempo: <b>{{tempo20}}</b></p>
      <p>Sessões: <b>{{sessao20}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio21 != null">
      <h2>{{exercicio21}}</h2>
      <h3>Peso: <b>{{peso21}}</b></h3>
      <p>Repetições: <b>{{repeticao21}}</b></p>
      <p>Tempo: <b>{{tempo21}}</b></p>
      <p>Sessões: <b>{{sessao21}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio22 != null">
      <h2>{{exercicio22}}</h2>
      <h3>Peso: <b>{{peso22}}</b></h3>
      <p>Repetições: <b>{{repeticao22}}</b></p>
      <p>Tempo: <b>{{tempo22}}</b></p>
      <p>Sessões: <b>{{sessao22}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio23 != null">
      <h2>{{exercicio23}}</h2>
      <h3>Peso: <b>{{peso23}}</b></h3>
      <p>Repetições: <b>{{repeticao23}}</b></p>
      <p>Tempo: <b>{{tempo23}}</b></p>
      <p>Sessões: <b>{{sessao23}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio24 != null">
      <h2>{{exercicio24}}</h2>
      <h3>Peso: <b>{{peso24}}</b></h3>
      <p>Repetições: <b>{{repeticao24}}</b></p>
      <p>Tempo: <b>{{tempo24}}</b></p>
      <p>Sessões: <b>{{sessao24}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio25 != null">
      <h2>{{exercicio25}}</h2>
      <h3>Peso: <b>{{peso25}}</b></h3>
      <p>Repetições: <b>{{repeticao25}}</b></p>
      <p>Tempo: <b>{{tempo25}}</b></p>
      <p>Sessões: <b>{{sessao25}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio26 != null">
      <h2>{{exercicio26}}</h2>
      <h3>Peso: <b>{{peso26}}</b></h3>
      <p>Repetições: <b>{{repeticao26}}</b></p>
      <p>Tempo: <b>{{tempo26}}</b></p>
      <p>Sessões: <b>{{sessao26}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio27 != null">
      <h2>{{exercicio27}}</h2>
      <h3>Peso: <b>{{peso27}}</b></h3>
      <p>Repetições: <b>{{repeticao27}}</b></p>
      <p>Tempo: <b>{{tempo27}}</b></p>
      <p>Sessões: <b>{{sessao27}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio28 != null">
      <h2>{{exercicio28}}</h2>
      <h3>Peso: <b>{{peso28}}</b></h3>
      <p>Repetições: <b>{{repeticao28}}</b></p>
      <p>Tempo: <b>{{tempo28}}</b></p>
      <p>Sessões: <b>{{sessao28}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio29 != null">
      <h2>{{exercicio29}}</h2>
      <h3>Peso: <b>{{peso29}}</b></h3>
      <p>Repetições: <b>{{repeticao29}}</b></p>
      <p>Tempo: <b>{{tempo29}}</b></p>
      <p>Sessões: <b>{{sessao29}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio30 != null">
      <h2>{{exercicio30}}</h2>
      <h3>Peso: <b>{{peso30}}</b></h3>
      <p>Repetições: <b>{{repeticao30}}</b></p>
      <p>Tempo: <b>{{tempo30}}</b></p>
      <p>Sessões: <b>{{sessao30}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio31 != null">
      <h2>{{exercicio31}}</h2>
      <h3>Peso: <b>{{peso31}}</b></h3>
      <p>Repetições: <b>{{repeticao31}}</b></p>
      <p>Tempo: <b>{{tempo31}}</b></p>
      <p>Sessões: <b>{{sessao31}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio32 != null">
      <h2>{{exercicio32}}</h2>
      <h3>Peso: <b>{{peso32}}</b></h3>
      <p>Repetições: <b>{{repeticao32}}</b></p>
      <p>Tempo: <b>{{tempo32}}</b></p>
      <p>Sessões: <b>{{sessao32}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio33 != null">
      <h2>{{exercicio33}}</h2>
      <h3>Peso: <b>{{peso33}}</b></h3>
      <p>Repetições: <b>{{repeticao33}}</b></p>
      <p>Tempo: <b>{{tempo33}}</b></p>
      <p>Sessões: <b>{{sessao33}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio34 != null">
      <h2>{{exercicio34}}</h2>
      <h3>Peso: <b>{{peso34}}</b></h3>
      <p>Repetições: <b>{{repeticao34}}</b></p>
      <p>Tempo: <b>{{tempo34}}</b></p>
      <p>Sessões: <b>{{sessao34}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio35 != null">
      <h2>{{exercicio35}}</h2>
      <h3>Peso: <b>{{peso35}}</b></h3>
      <p>Repetições: <b>{{repeticao35}}</b></p>
      <p>Tempo: <b>{{tempo35}}</b></p>
      <p>Sessões: <b>{{sessao35}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio36 != null">
      <h2>{{exercicio36}}</h2>
      <h3>Peso: <b>{{peso36}}</b></h3>
      <p>Repetições: <b>{{repeticao36}}</b></p>
      <p>Tempo: <b>{{tempo36}}</b></p>
      <p>Sessões: <b>{{sessao36}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio37 != null">
      <h2>{{exercicio37}}</h2>
      <h3>Peso: <b>{{peso37}}</b></h3>
      <p>Repetições: <b>{{repeticao37}}</b></p>
      <p>Tempo: <b>{{tempo37}}</b></p>
      <p>Sessões: <b>{{sessao37}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio38 != null">
      <h2>{{exercicio38}}</h2>
      <h3>Peso: <b>{{peso38}}</b></h3>
      <p>Repetições: <b>{{repeticao38}}</b></p>
      <p>Tempo: <b>{{tempo38}}</b></p>
      <p>Sessões: <b>{{sessao38}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio39 != null">
      <h2>{{exercicio39}}</h2>
      <h3>Peso: <b>{{peso39}}</b></h3>
      <p>Repetições: <b>{{repeticao39}}</b></p>
      <p>Tempo: <b>{{tempo39}}</b></p>
      <p>Sessões: <b>{{sessao39}}</b></p>
    </ion-item>

    <ion-item *ngIf="exercicio40 != null">
      <h2>{{exercicio40}}</h2>
      <h3>Peso: <b>{{peso40}}</b></h3>
      <p>Repetições: <b>{{repeticao40}}</b></p>
      <p>Tempo: <b>{{tempo40}}</b></p>
      <p>Sessões: <b>{{sessao40}}</b></p>
    </ion-item>
  </ion-list>
</ion-content>
